@font-face {
    font-family: "Zector";
    font-style: normal;
    font-weight: 400;
    src: local("Zector"),
         url("fonts/Zector.woff2") format("woff2"),
         url("/fonts/Zector.woff") format("woff");
  }

html {
    box-sizing: border-box;
    font-size: 16px;

    background-color: #090909;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    /* font-weight: normal; */
    font-family: 'Abel', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;

    letter-spacing: 0.125em;
   
    color: #FFFFFF;

    
    /* outline: greenyellow solid 1px; */
}
body {
    width: 1440px;
    margin: 0 auto;
    background-color: #0D0D0B;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.header {
    position: relative;
    z-index: 1;
    display: flex;
}

.menu-dropbtn {
    height: 100px;
    padding: 0 34px;

    display: flex;
    align-items: center;

    transition: 0.2s;
    cursor: default;
}

.menu-dropbtn__p {
    font-family: "Zector", "Arial", sans-serif;
    
    font-size: 34px;
    line-height: 130%;
}

.menu-dropbtn__img {
    margin-right: 30px;
}

.dropdown-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 44px 0 45px;
    width: 287px;
    
    background-color: #0D0D0B;

    transition: 0.2s all;
}

.dropdown-menu button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 19px;
    height: 41px;
    border: none;
    background-color: #0D0D0B;

    font-family: 'Abel', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    letter-spacing: 0.125em;

    color: #FFFFFF;
    transition: 0.2s;
    cursor: pointer;
}


.dropdown-menu button:hover {
    background-color: #222222;
}

.dropdown-menu button:active {
    background-color: #353535;
}

.white-underline {
    margin-left: 19px;
    width: 224px;
    border-bottom: 2px solid #FFFFFF;
}

.white-underline__margin {
    margin-bottom: 44px;
}

.menu:hover .dropdown-menu {
    display: flex;
}

.menu:hover .menu-dropbtn {
    background-color: #222222;
}

.h1 {
    margin: auto auto;   
    font-family: "Zector", "Arial", sans-serif;
    font-size: 56px;
    line-height: 125.5%;
}

.h1 a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

.search {
    margin: 0 32px 0 70px;
    padding: 37px 0 31px;
}

.basket {
    padding: 32px 8px 28px 0;
}

.block-nav-and-our-philosophy {
    display: flex;
}

.nav {
    padding: 117px 0 37px;
    border-right: 1px solid #E9E9E9EB;
}

.nav__link {
    display: block;
    height: 59px;
    padding: 0 90px;

    text-decoration: none;

    font-family: 'Zector', "Arial", sans-serif;
    font-size: 19px;
    line-height: 59px;

    text-align: center;

    color: #FFFFFF;
    transition: 0.2s;
}

.nav__link:hover {
    background-color: #222222;
}

.nav__link:active {
    background-color: #353535;
}

.nav__log-in {
    display: block;
    margin-top: 159px;
    text-decoration: none;
    padding: 19px 0;

    font-size: 15px;
    line-height: 140%;

    text-align: center;

    color: #FFFFFF;
    transition: 0.2s;
}

.nav__log-in:hover {
    background-color: #222222;
}

.nav__log-in:active {
    background-color: #353535;
}

.our-philosophy {
    position: absolute;
    top: 80px;
    left: 47px;
    width: 303px;
    z-index: 1;
}

.our-philosophy__p1 {
    margin-bottom: 11px;
    width: 283px;
    font-size: 16px;
    line-height: 125.5%;
    /* or 40px */
}

.our-philosophy__p2 {
    margin-bottom: 11px;
    font-size: 20px;
    line-height: 125.5%;
}

.our-philosophy__p3 {
    line-height: 130%;
    color: #9C9C9C;
}

.bg-natureal {
    height: 608px;
    position: relative;
    /* background-image: url("images/background.png"); */
}

.bg-natureal img {
    transform: translateY(-100px);
    /* height: 708px; */
}

.additionally {
    margin-bottom: 24px;
}

.additionally__p {
    transform: translateY(8px);
    padding-left: 75px;
    font-size: 34px;
    line-height: 135%;
}

.additionally__arrows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 26px;
}

.additionally__arrow {
    z-index: 1;
    padding: 0px;
    border: none;
    border-radius: 3px;
    height: 24px;
    background-color: #0d0d0b00;
    
    transition: 0.2s;
    cursor: pointer;
}

.additionally__arrow:hover {
    background-color: #ffffff15;
}

.additionally__arrow:active {
    background-color: #ffffff2c;
}

.additional-products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 47px;
}

.additional-products__card {
    width: 272px;
}

.img-border {
    margin-bottom: 12px;
    border: 1px solid #FFFFFF;
    height: 336px;
}

.additional-products__card__p-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 77px;
    justify-content: space-between;
}

.additional-products__card__p-1 {
    margin-bottom: 14px;
    font-size: 17px;
    line-height: 135%;
}

.additional-products__card__p-2 {
    font-size: 10px;
    line-height: 130%;
}

.additional-products__card__price-buy {
    display: flex;   
    align-items: center;   
    justify-content: space-between;
    line-height: 130%;
}

.additional-products__card__price-buy button {
    border: 1px solid #FFFFFF;
    padding: 0;
    background-color: #0D0D0B;
    height: 40px;
    width: 130px;
    
    font-family: 'Abel', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.125em;

    color: #FFFFFF;
    transition: 0.2s;
    cursor: pointer;
}

.additional-products__card__price-buy button:hover {
    background-color: #222222;
}

.additional-products__card__price-buy button:active {
    background-color: #353535;
}

.interesting {
    margin: 0 47px 62px;
}

.interesting-p {    
    transform: translateY(13px);
    font-size: 34px;
    line-height: 135%;
}

.interesting-div {
    display: flex;
    padding: 36px 0;
    background: #10100F;
}

.interesting-div__arrow {
    margin: auto 0;
    height: 255px;
    width: 36px;
    border: none;
    background: linear-gradient(270deg, rgba(36, 36, 30, 0.35) 369.09%, #0D0D0B 660.94%, rgba(182, 182, 171, 0.75) 797.14%);
    opacity: 0.6;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.interesting-div__arrow:hover {
    background-color: #222222;
}

.interesting-div__arrow:active {
    background-color: #353535;
}

.interesting-div__img {
    margin: 0 54px 0 18px;
    border: 1px solid #FFFFFF;
}

.interesting-div__description {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interesting-div__description-p1 {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 135%;
}

.interesting-div__description-p2 {
    margin-bottom: auto;
    width: 438px;
    font-size: 16px;
    line-height: 140%;
}

.interesting-div a {
    width: 238px;
    height: 40px;
    border: 1px solid #FFFFFF;
    
    text-align: center;
    font-size: 20px;
    line-height: 38px;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.2s;
}

.interesting-div a:hover {
    background-color: #222222;
}

.interesting-div a:active {
    background-color: #353535;
}

.our-instagram-community__p {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 135%;
    text-align: center;
}

.our-instagram-community_images {
    margin-bottom: 71px;
    display: flex;
}

.HAIR-SKIN-Y-SOUL {
    transform: translateY(29px);
    margin: 0 0 0 706px;
    width: 90px;
    border-bottom: 3px solid #FFFFFF;
}

.HAIR-SKIN-BODY-SOUL {
    margin-bottom: 73px;
    font-size: 40px;
    line-height: 135%;
    text-align: center;
}

.white-border {
    margin: 0 5px 90px;
    border-bottom: 2px solid #FFFFFF;
}

.footer {
    padding: 0 94px 94px;
}

.footer__info {
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
}

.footer__info__p {
    margin-bottom: 9px;
    line-height: 140%;
}

.footer__info a {
    display: block;
    font-size: 13px;
    line-height: 215%;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__info a:hover {
    text-decoration: underline;
}

.footer__info__time-and-phone-number {
    font-size: 13px;
    line-height: 215%;
}


.footer__socials {
    display: flex;
    justify-content: space-between;
}

.footer__socials__email-newsletter-subscription p {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 215%;
}

.footer__socials__email-newsletter-subscription input {
    width: 290px;
    height: 42px;
    border: 1px solid #FFFFFF;
    background-color: #0D0D0B;
    font-family: 'Abel', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.125em;
    color: #FFFFFF;
}

.footer__socials__cards {
    display: flex;
    margin-bottom: 12px;
    padding-right: 20px;
}

.footer__socials__cards img {
    margin-right: 12px;
}